{#
/**
 * This file is part of system_updater plugin for FSFramework
 * Vista de la Tienda de Plugins
 */
#}
{{ include('header.html.twig') }}

<script type="text/javascript">
    function descargar_plugin_publico_inestable(pluginId, pluginName) {
        bootbox.confirm({
            message: 'Este plugin está marcado como inestable. Significa que <b>no se recomienda su uso</b>, que todavía está en desarrollo y puede contener errores. ¿Estás seguro de que quieres descargar <b>' + pluginName + '</b>?',
            title: '<b>Atención</b>',
            callback: function (result) {
                if (result) {
                    window.location.href = '{{ fsc.url()|raw }}&tab=public&action=download&plugin_id=' + pluginId;
                }
            }
        });
    }

    function descargar_plugin_privado_inestable(pluginId, pluginName) {
        bootbox.confirm({
            message: 'Este plugin privado está marcado como inestable. Puede contener errores o cambios no finalizados. ¿Deseas descargar <b>' + pluginName + '</b>?',
            title: '<b>Atención</b>',
            callback: function (result) {
                if (result) {
                    window.location.href = '{{ fsc.url()|raw }}&tab=private&action=download_private&plugin_id=' + pluginId;
                }
            }
        });
    }
</script>

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group">
                <a class="btn btn-sm btn-default" href="{{ fsc.url()|raw }}" title="Recargar la página">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
                <a class="btn btn-sm btn-default" href="{{ fsc.url()|raw }}&action=refresh" title="Actualizar lista de plugins">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <h2 style="margin-top: 0px;">
                <i class="fa fa-store"></i> Tienda de Plugins
            </h2>
        </div>
    </div>
</div>

{# Mensajes #}
{% if fsc.successMessage %}
<div class="alert alert-success alert-dismissible" style="margin: 10px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <i class="fa fa-check-circle"></i> {{ fsc.successMessage }}
</div>
{% endif %}

{% if fsc.errorMessage %}
<div class="alert alert-danger alert-dismissible" style="margin: 10px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <i class="fa fa-exclamation-circle"></i> {{ fsc.errorMessage }}
</div>
{% endif %}

{# Pestañas #}
<div role="tabpanel" style="margin: 10px;">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{{ fsc.activeTab == 'public' ? 'active' : '' }}">
            <a href="{{ fsc.url()|raw }}&tab=public">
                <i class="fa fa-globe"></i> Plugins Públicos
            </a>
        </li>
        <li role="presentation" class="{{ fsc.activeTab == 'private' ? 'active' : '' }}">
            <a href="{{ fsc.url()|raw }}&tab=private">
                <i class="fa fa-lock"></i> Plugins Privados
            </a>
        </li>
    </ul>

    <div class="tab-content" style="padding: 15px; border: 1px solid #ddd; border-top: none;">
        {% if fsc.activeTab == 'public' %}
        {# Plugins Públicos #}
        {% if fsc.publicPlugins|length > 0 %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-left">Plugin</th>
                        <th class="text-left">Descripción</th>
                    </tr>
                </thead>
                {% for plugin in fsc.publicPlugins %}
                {% set tr_class = '' %}
                {% if plugin.instalado or fsc.isInstalled(plugin.nombre) %}
                    {% set tr_class = ' class="warning"' %}
                {% elseif plugin.tipo == 'oculto' %}
                    {% set tr_class = ' class="hidden"' %}
                {% elseif plugin.estable is defined and not plugin.estable %}
                    {% set tr_class = ' class="danger"' %}
                {% elseif plugin.tipo == 'gratis' or plugin.tipo == 'regalo' %}
                    {% set tr_class = ' class="success"' %}
                {% endif %}
                <tr{{ tr_class|raw }}>
                    <td class="text-center">
                        {% if plugin.imagen is defined and plugin.imagen %}
                        <a href="{{ plugin.link|default('https://github.com/eltictacdicta/fs-framework/plugin/' ~ plugin.nombre) }}" target="_blank" class="thumbnail">
                            <img src="{{ plugin.imagen }}" alt="{{ plugin.nombre }}" width="80"/>
                        </a>
                        {% else %}
                        <a href="{{ plugin.link|default('https://github.com/eltictacdicta/fs-framework/plugin/' ~ plugin.nombre) }}" target="_blank" class="btn btn-block btn-default">
                            <i class="fa fa-plug fa-3x" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ plugin.nombre }}
                        {% if plugin.version is defined and plugin.version %}
                        &nbsp; <span class="label label-info">v{{ plugin.version }}</span>
                        {% endif %}
                        {% if plugin.autor is defined and plugin.autor %}
                        <br/>
                        <small class="text-muted"><i class="fa fa-user"></i>&nbsp;{{ plugin.autor }}</small>
                        {% elseif plugin.creador is defined and plugin.creador %}
                        <br/>
                        <small class="text-muted"><i class="fa fa-user"></i>&nbsp;{{ plugin.creador }}</small>
                        {% endif %}
                        <br/><br/>
                        {% if plugin.instalado or fsc.isInstalled(plugin.nombre) %}
                            {% if fsc.isActive(plugin.nombre) %}
                            <a href="{{ fsc.url()|raw }}&tab=public" class="btn btn-xs btn-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp; Activo
                            </a>
                            {% else %}
                            <a href="{{ fsc.url()|raw }}&tab=public" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp; Instalado
                            </a>
                            {% endif %}
                        {% elseif plugin.tipo == 'pago' or plugin.tipo == 'externo' %}
                        <a href="{{ plugin.link|default('https://github.com/eltictacdicta/fs-framework/plugin/' ~ plugin.nombre) }}" target="_blank" class="btn btn-xs btn-info">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; Comprar
                        </a>
                        {% elseif plugin.tipo == 'regalo' %}
                        <a href="{{ plugin.link|default('https://github.com/eltictacdicta/fs-framework/plugin/' ~ plugin.nombre) }}" target="_blank" class="btn btn-xs btn-info">
                            <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp; Obtener
                        </a>
                        {% elseif plugin.estable is defined and not plugin.estable %}
                        <a href="#" class="btn btn-xs btn-primary" onclick="descargar_plugin_publico_inestable('{{ plugin.id }}', '{{ plugin.nombre|e('js') }}'); return false;">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Descargar
                        </a>
                        {% else %}
                        <a href="{{ fsc.url()|raw }}&tab=public&action=download&plugin_id={{ plugin.id }}" class="btn btn-xs btn-primary" onclick="return confirm('¿Descargar e instalar {{ plugin.nombre|e('js') }}?');">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Descargar
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ plugin.descripcion|default('Sin descripción disponible')|nl2br }}<br/>
                        {% if plugin.ultima_modificacion is defined and plugin.ultima_modificacion %}
                        Última modificación: {{ plugin.ultima_modificacion }}
                        {% endif %}
                        {% if plugin.estable is defined and not plugin.estable %}
                        <span class="label label-danger" title="inestable: no lo instales a menos que sepas lo que haces">inestable</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p class="text-muted">No hay plugins públicos disponibles.</p>
        {% endif %}

        {% else %}
        {# Plugins Privados #}
        <div class="row">
            {# Configuración #}
            <div class="col-md-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-github"></i> Configuración GitHub</h4>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{{ fsc.url()|raw }}&action=save_private_config">
                            <div class="form-group">
                                <label>Token de GitHub</label>
                                <input type="password" name="github_token" class="form-control" value="{{ fsc.privateConfig.github_token|default('') }}" placeholder="ghp_xxxx...">
                                <span class="help-block">Token con permisos de lectura de repositorios</span>
                            </div>
                            <div class="form-group">
                                <label>URL del JSON de plugins</label>
                                <input type="text" name="private_plugins_url" class="form-control" value="{{ fsc.privateConfig.private_plugins_url|default('') }}" placeholder="https://raw.githubusercontent.com/...">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-save"></i> Guardar
                            </button>
                        </form>

                        {% if fsc.privateEnabled %}
                        <hr>
                        <a href="{{ fsc.url()|raw }}&action=test_private_connection" class="btn btn-info btn-sm btn-block">
                            <i class="fa fa-plug"></i> Probar conexión
                        </a>
                        <a href="{{ fsc.url()|raw }}&action=delete_private_config" class="btn btn-danger btn-sm btn-block" style="margin-top: 5px;" onclick="return confirm('¿Eliminar configuración?');">
                            <i class="fa fa-trash"></i> Eliminar config
                        </a>
                        {% endif %}
                    </div>
                </div>

                {# Formato del JSON de Plugins Privados #}
                <div class="panel panel-info" style="margin-top: 15px;">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-code"></i> Formato del JSON</h4>
                    </div>
                    <div class="panel-body">
                        <p><small>El archivo JSON debe tener el siguiente formato:</small></p>
                        <pre style="background-color: #f5f5f5; padding: 10px; border-radius: 4px; font-size: 11px; overflow-x: auto;">[
  {
    "id": 1,
    "nombre": "mi_plugin_privado",
    "link": "https://github.com/USUARIO/mi-plugin-privado",
    "zip_link": "https://api.github.com/repos/USUARIO/mi-plugin-privado/zipball/master",
    "branch": "master",
    "estable": true,
    "tipo": "privado",
    "ultima_modificacion": "01-01-2026"
  }
]</pre>
                        <div class="alert alert-success" style="margin-top: 10px; padding: 8px;">
                            <small><i class="fa fa-magic"></i> <strong>Automático:</strong> La <b>versión</b> y <b>descripción</b> se obtienen automáticamente del archivo <code>fsframework.ini</code> del repositorio.</small>
                        </div>
                        <p class="help-block" style="margin-top: 10px;">
                            <small><strong>Campos obligatorios:</strong></small><br>
                            <small><code>nombre</code>, <code>link</code>, <code>zip_link</code></small><br><br>
                            <small><strong>Campos opcionales:</strong></small><br>
                            <small><code>branch</code> (default: master), <code>estable</code> (true/false), <code>imagen</code></small>
                        </p>
                    </div>
                </div>
            </div>

            {# Lista de plugins privados #}
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-lock"></i> Plugins Privados Disponibles</h4>
                    </div>
                    <div class="panel-body">
                        {% if not fsc.privateEnabled %}
                        <div class="alert alert-info">
                            <i class="fa fa-info-circle"></i> Configura el token de GitHub para ver plugins privados.
                        </div>
                        {% elseif fsc.privatePlugins|length > 0 %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-left">Plugin</th>
                                        <th class="text-left">Descripción</th>
                                    </tr>
                                </thead>
                                {% for plugin in fsc.privatePlugins %}
                                {% set tr_class = '' %}
                                {% if plugin.instalado or fsc.isInstalled(plugin.nombre) %}
                                    {% set tr_class = ' class="warning"' %}
                                {% elseif plugin.estable is defined and not plugin.estable %}
                                    {% set tr_class = ' class="danger"' %}
                                {% else %}
                                    {% set tr_class = ' class="info"' %}
                                {% endif %}
                                <tr{{ tr_class|raw }}>
                                    <td class="text-center">
                                        {% if plugin.imagen is defined and plugin.imagen %}
                                        <a href="{{ plugin.link|default('#') }}" target="_blank" class="thumbnail">
                                            <img src="{{ plugin.imagen }}" alt="{{ plugin.nombre }}" width="80"/>
                                        </a>
                                        {% else %}
                                        <a href="{{ plugin.link|default('#') }}" target="_blank" class="btn btn-block btn-default">
                                            <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ plugin.nombre }}
                                        {% if plugin.version is defined and plugin.version %}
                                        &nbsp; <span class="label label-info">v{{ plugin.version }}</span>
                                        {% endif %}
                                        {% if plugin.autor is defined and plugin.autor %}
                                        <br/>
                                        <small class="text-muted"><i class="fa fa-user"></i>&nbsp;{{ plugin.autor }}</small>
                                        {% endif %}
                                        <br/><br/>
                                        {% if plugin.instalado or fsc.isInstalled(plugin.nombre) %}
                                            {% if fsc.isActive(plugin.nombre) %}
                                            <a href="{{ fsc.url()|raw }}&tab=private" class="btn btn-xs btn-success">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp; Activo
                                            </a>
                                            {% else %}
                                            <a href="{{ fsc.url()|raw }}&tab=private" class="btn btn-xs btn-default">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp; Instalado
                                            </a>
                                            {% endif %}
                                        {% elseif plugin.estable is defined and not plugin.estable %}
                                        <a href="#" class="btn btn-xs btn-warning" onclick="descargar_plugin_privado_inestable('{{ plugin.id }}', '{{ plugin.nombre|e('js') }}'); return false;">
                                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Descargar
                                        </a>
                                        {% else %}
                                        <a href="{{ fsc.url()|raw }}&tab=private&action=download_private&plugin_id={{ plugin.id }}" class="btn btn-xs btn-primary" onclick="return confirm('¿Descargar e instalar {{ plugin.nombre|e('js') }}?');">
                                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Descargar
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ plugin.descripcion|default('Sin descripción disponible')|nl2br }}<br/>
                                        {% if plugin.ultima_modificacion is defined and plugin.ultima_modificacion %}
                                        Última modificación: {{ plugin.ultima_modificacion }}
                                        {% endif %}
                                        {% if plugin.estable is defined and not plugin.estable %}
                                        <span class="label label-danger" title="inestable: no lo instales a menos que sepas lo que haces">inestable</span>
                                        {% endif %}
                                        <span class="label label-warning">privado</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% else %}
                        <p class="text-muted">No hay plugins privados disponibles.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{{ include('footer.html.twig') }}
